.answer_list label {
   margin-bottom: 5px;
}


.wrong_answer {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 125, 142);
    border-radius: 10px;
    color: white;
}